* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: sans-serif;
}

.input {
  border: solid black 1px;
  padding: 15px;
}

.input:valid {
  border: solid green 2px;
  background-color: lightgreen;
}

.input:invalid {
  border: dashed red 2px;
  background-color: pink;
}

.body {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 15px;
  border: solid black 1px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.fileupload {
  border: solid black 1px;
  padding: 15px;
}
