.welcome{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  color: var(--font-title);
  margin-bottom: 20px;
}

.description{
  color: var(--font-color);
}
